body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 1300px;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid brown;
}

.box_body {
  width: 1100px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hot_topic {
  width: 100%;
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
}

.content1 {
  border-bottom: solid 1px lightgray;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.tail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-top: 20px;
}

.left_tail {
  position: relative;
  left: 490px;
}

.post_made, .my_page, .logout {
  color: black;
}
