body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.field {
  width: 300px;
}

.header {
  margin-bottom: 100px;
}

.title {
  font-weight: bold;
  color: brown;
}

.box {
  box-shadow: none;
  display: flex;
  flex-direction: row;
}

.left_box {
  width: 430px;
  height: 700px;
}

.left_main1 {
  animation-name: down;
  animation-duration: 0.5s;
  border: 2px solid black;
  border-radius: 8px;
  position: relative;
  background-image: url(./img/post.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15px 0px;
  margin-right: 50px;
  width: 380px;
  height: 480px;
}

.left_main2 {
  position: relative;
  top: -390px;
  right: -40px;
  border: 2px solid black;
  border-radius: 8px;
  background-image: url(./img/lobby.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15px 0px;
  width: 380px;
  height: 480px;
}

.left_word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -380px;
  color: black;
}

.left_main1:hover {
  animation-name: up;
  animation-duration: 0.5s;
  z-index: 1;
  top: 5px;
  right: -5px;
}

@keyframes up {
  from {
    z-index: 0;
    top: 0px;
    right: 0px;
  }
  to {
    z-index: 1;
    top: 5px;
    right: -5px;
  }
}

@keyframes down {
  from {
    z-index: 1;
    top: 5px;
    right: -5px;
  }
  to {
    z-index: 0;
    top: 0px;
    right: 0px;
  }
}

.right_box {
  background-image: url(./img/junglefinder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -50px;
  border-radius: 8px;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 3;
  margin: 30px 0px;
  border: solid 2px black;
  background-color: white;
  font-size: 18px;
}

.input {
  border: solid 2px black;
}

.a1 {
  color: black;
}

.a2 {
  color: white;
}

.membership {
  border: solid 2px white;
  background: black;
}
