body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box {
  background-image: url(./img/grass.jpg);
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: 0px 366px ;
  border: 2px solid black;
  /* box-shadow: none; */
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
=======
}

.box {
  border: 2px solid brown;
  box-shadow: green 0 0 10px;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
  align-items: center;
}

.title {
<<<<<<< HEAD
  margin-top: 60px;
=======
  color: brown;
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
  margin-bottom: 80px;
}

.input {
  border: 2px solid black;
}

<<<<<<< HEAD
.is-6 {
  color: red;
}

.hidden {
  display: none;
}

=======
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
.button {
  border: 2px solid black;
  background: lightgray;
  height: 40px;
}

#id {
  width: 228px;
}

.field {
  width: 300px;
}

#login {
  color: black;
}

.tail {
<<<<<<< HEAD
  margin-top: 20px;
  background: white;
}
=======
    margin-top: 20px;
}
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
