body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box {
  width: 500px;
=======
}

.box {
  width: 600px;
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  border: 2px solid black;
  box-shadow: none;
  background-image: url(./img/grass.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 366px;
}

.header {
  width: 450px;
=======
  border: 2px solid brown;
}

.header {
  width: 500px;
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 20px;
}

<<<<<<< HEAD
.prev,
.logout {
  color: black;
}

.tail {
  margin-top: 20px;
}

.main {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  width: 450px;
  height: 300px;
  overflow-y: auto;
}

.main_title, .main_subtitle {
  width: 420px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my_post {
  border-bottom: solid 1px lightgray;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
=======
.prev, .logout {
  color: black;
}

.my_post {
    margin: 20px 0px;
    width: 500px;
    height: 300px;
    overflow-y: auto;
}
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
