body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
=======
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
}

.box {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  /* border: 2px solid brown; */
  box-shadow: none;
  background: lightgreen;
}

.main {
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  background: white;
=======
  border: 2px solid brown;
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
}

.header {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 20px;
}

<<<<<<< HEAD
.pin {
  position: relative;
  width: 10%;
  right: 155px;
}

=======
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
.prev {
  color: black;
}

.question {
  margin-bottom: 20px;
}

.q_area {
<<<<<<< HEAD
  word-break: break-all;
  width: 500px;
  height: 300px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow-y: auto;
=======
  width: 500px;
  height: 300px;
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a_area {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 40px;
  border-bottom: 1px solid lightgray;
}

.a_main,
.a_sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

<<<<<<< HEAD
.a_sub {
  position: relative;
  left: 30px;
  width: 470px;
  border-radius: 8px;
  background: #e5e5e5;
}

=======
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
.a_option {
  display: flex;
  flex-direction: row;
}

.comment,
.like,
.delete {
  margin-left: 10px;
}
<<<<<<< HEAD
.a_main_detail {
  /* border: 1px solid black; */
  width: 470px;
  word-break: break-all;
}

.a_sub_detail {
  /* border: 1px solid black; */
  width: 430px;
  word-break: break-all;
=======

.a_sub_detail {
  position: relative;
  left: 30px;
>>>>>>> f428aaee4c3fbfb23764a6c6f4559233327f4f11
}

.post_answer {
  width: 500px;
  height: 30px;
  margin-top: 20px;
}
