<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>정글 헬퍼</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{{ url_for('static',filename='./css/lobby.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
    rel="stylesheet"
  />
</head>


<body>
  <div class="box">
    <div class="box_body">
      <div class="header_fixed">
      <div class="header">
        <div class="header_left">
          <div class="select">
            <select class="select_box" id="curriSelect">
              {% for category in categories %}
              <option value="{{ category }}" {% if category==selected_category %} selected {% endif %}>
                {{ category }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <h1 class="title is-1" style="font-size: 60px; font-weight: 400">
          정글 헬퍼
        </h1>
        <div class="header_right">
          <button class="button header_page">
            <a class="my_page" href="/mypage">내 게시글</a>
          </button>
          <button class="button header_logout">
            <a class="logout" Onclick="logout()">로그아웃</a>
          </button>
        </div>
      </div>
      <div class="hot_topic">
        {% for item in keywords %}
        <button class="button is-danger is-rounded" onclick="refreshPosts('{{ item.word }}')">{{ item.word }}</button>
        {% endfor %}
      </div>
    </div>
      <div class="main" id="posts-container">
        {% include 'post_list.html' %}
      </div>
      <div class="fixed_tail">
        <div class="tail">
          <button class="button posted">
            <a class="post_made" href="/create_post">작성하기</a>
          </button>
        </div>
      </div>

    </div>
  </div>
</body>






<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
<script>
  const selectElement = document.getElementById("curriSelect");

  selectElement.addEventListener("change", function () {
    const selectedIndex = this.selectedIndex; // 선택된 값 가져오기
    console.log(selectedIndex);
    window.location.href = '/posts/' + selectedIndex;
  });







  function refreshPosts(keyword) {

    $.ajax({
      type: 'POST',
      data: {
        keyword: keyword,
      },
      url: '/get_posts',
      success: function (response) {
        $('#posts-container').html(response);
      },
      error: function (error) {
        console.error(error);
        alert('글 목록 가져오는 중 오류 발생');
      }
    });
  }

  function logout() {
    $.ajax({
      type: 'POST',
      url: '/logout',
      success: function (response) {
        window.location.href = '/login';
      },
    });
  }
</script>

</html>